*.swp
obj
lib
gmake
vs2010
.settings
bin
/.cproject
/.project
/apidoc/html
/apidoc/latex
/build/gmake
/build/codeblocks
/doc\architecture/*.png
/doc\architecture/*.png
/doc\architecture/*.png
eclipse
